.people.resume{
  .detail-content{
    .button-flex{
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .detail-filter{
    @media screen and (max-width: 767px) {
      max-width: 100%;
      flex: 0 0 100%;
      margin-top: 20px;
    }
  }
  .resume{
    &-item{
        max-width: 50%;
        flex: 0 0 50%;
        @media screen and (max-width: 552px){
          max-width: 100%;
          flex: 0 0 100%;
        }
        .card {
            border-radius: 0px;
            .bg-layer{
                border-radius: 0px;
            }
        }
    }
  }
  .card {
    flex-direction: row;
    @media screen and (max-width: 992px){
      flex-direction: column;
      }
    @media screen and (max-width: 552px){
      flex-direction: row;
    }
    &-right {
      @media screen and (max-width: 992px){
        width: 100%;
      }
      @media screen and (max-width: 552px){
        width: calc(100% - 80px);
      
      }
    }
    @media screen and (max-width: 1200px){
      &-item--list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
      }
    }
 
  }
}