
.hidden-md {
    display: none !important;
}

.show-sm {
    display: none !important;
}

.hidden-sm {
    display: block !important;
}
.hidden-tablet {
    display: none !important;
}
@media screen and (max-width : 767px) {
    .show-tablet {
        display: none !important;
    }
    .hidden-tablet{
        display: block !important;
    }
}